@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Annie+Use+Your+Telescope&family=Artifika&family=Atomic+Age&family=Barrio&family=Belleza&family=Benne&family=Bruno+Ace+SC&family=Cormorant:wght@300&family=Crafty+Girls&family=EB+Garamond&family=Federo&family=Fresca&family=Genos:ital@1&family=Geo&family=Glass+Antiqua&family=IM+Fell+DW+Pica+SC&family=IM+Fell+French+Canon+SC&family=Indie+Flower&family=Irish+Grover&family=Kotta+One&family=Kufam&family=Lacquer&family=Macondo&family=Major+Mono+Display&family=Marck+Script&family=Megrim&family=Play&family=Playfair:opsz@5..1200&family=Sedgwick+Ave&family=Share&family=Space+Mono&family=Sulphur+Point&family=Trade+Winds&family=Ubuntu+Mono&family=VT323&family=Zilla+Slab+Highlight&display=swap');



body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 3fr;
    margin: 0;
}

header{
    background-color:#b7bba4;
    position: relative;
}


.top1{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}


#search{
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    background-color: rgb(248, 244, 244);
    box-shadow: 5px 5px 10px gray;
}

#search:focus{
    outline: 2px solid rgb(26, 97, 26);
}

#search-magnify{
    position: relative;
}

#magnify{
    position: absolute;
    height: 30px;
    width: 40px;
    right: 2px;
    top: 5px;

}

#magnify2{
    display: none;
}


.icons svg{
    transition-duration: 300ms;

}

.icons svg:hover{
    fill: white;
    

}

#account-circle2{
    display: none;
}


#plate{
    position: absolute;
    left: 850px;
    bottom: 35px;
    filter: brightness(95%) contrast(60%);
    
}

h1{
    margin-left: 30px;
    font-family: 'Space Mono', monospace;;
    text-decoration: underline;
}



.links{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 40px;
}

.links a{
    text-decoration: none;
    color: rgb(50, 49, 49);
    margin-right: 15px;
    border: 1px solid gray;
    padding: 12px 15px;
    border-radius: 40px;
    text-align: center;
    transition-duration: 250ms;
    box-shadow: 5px 5px 10px gray;
}


.links a:hover{
    background-color: rgb(208, 195, 120);
    color: white;
}

#cooking{
    margin-top: auto;
}

aside{
    position: relative;
    background-color: white;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}


.picture-shadow2{
    position: absolute;
    height: 105px;
    width: 100px;
    background-color: rgb(225, 222, 222);
    left: 56px;
    top: 163px;
    border-radius: 80%;
    opacity: 0.3;
    box-shadow: 0px 5px 10px 10px rgb(174, 172, 172);
}

#name{
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Marck Script', cursive;
}

#name2{
    font-size: 30px;
    font-family: 'Marck Script', cursive;
    display: none;
}

#menu{
    display: none;
}

.signup{
    margin-top: 40px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

.signup a{
    margin-bottom: 15px;
    margin-right: 0;
    width: 170px;
    text-decoration: none;
    color: rgb(50, 49, 49);
    border: 1px solid gray;
    padding: 12px 15px;
    border-radius: 40px;
    text-align: center;
    transition-duration: 250ms;
    box-shadow: 5px 5px 10px gray;

}


#login:hover{
    background-color: rgb(103, 191, 141);

}

#register:hover{
    background-color: rgb(207, 161, 97);
    color: white;
}



main{
    background-image: url(./Képek/wwwwwwwwwwww.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    opacity: 0.9;
    padding: 50px;
}

.recipes-border{
   height: 280px;
   width: 200px;
   background-color: rgb(232, 235, 235);
   border-radius: 30px;
   position: relative;
   margin-bottom: 80px;
   margin-top: 20px;
   box-shadow: 5px 5px 10px grey;
   margin-right: 0;
}

.picture {
    position: absolute;
    bottom: 150px;
    left: 15px;
    z-index: 2;
}

.picture-shadow{
    position: absolute;
    height: 105px;
    width: 120px;
    background-color: rgb(156, 152, 152);
    z-index: 1;
    left: 30px;
    border-radius: 80%;
    opacity: 0.3;
    box-shadow: 0px 5px 10px 10px rgb(156, 152, 152);
    
}


.recipe-name{
    position: absolute;
    top: 120px;
    text-align: center;
    
}


.star1{
    position: absolute;
    top: 178px;
    left: 60px;
}

.star2{
    position: absolute;
    top: 178px;
    left: 75px;
}

.star3{
    position: absolute;
    top: 178px;
    left: 90px;
}

.star4{
    position: absolute;
    top: 178px;
    left: 105px;
}

.star5{
    position: absolute;
    top: 178px;
    left: 120px;
}

.hr{
    position: absolute; 
    top: 200px;
    width: 100%;
    height: 3px;
    background-color: rgb(149, 143, 143);
    border: none;
}

.time{
    position: absolute;
    top: 220px;
    left: 10px;
    color: rgb(50, 49, 49);
}

.button{
    position: absolute;
    width: 80px;
    height: 35px;
    top:228px;
    left: 105px;
    border-radius: 5px;
    color: rgb(20, 138, 20);
    background-color: rgb(200, 233, 200);
    transition-duration: 250ms;
    border: none;
    box-shadow: 5px 5px 10px gray;
}

.button:hover{
    background-color: rgb(91, 173, 126);
    color: white;
}


@media only screen and (max-width: 1400px) {
    main{
        grid-template-columns: repeat(4, 1fr);
  }

  .recipes-border{
    width: 230px;
  }

  .picture{
    bottom: 150px;
    left: 33px;
  }

#plate{
  left: 770px;
  bottom: 35px;
}
}

@media only screen and (max-width: 1320px){
    #plate{
        height: 140px;
      }
}

@media only screen and (max-width: 1300px){

.recipes-border{
    width: 200px;
}

.picture {
    bottom: 150px;
    left: 15px;
}
}

@media only screen and (max-width: 1250px){
    #plate{
        height: 120px;
      }
}

@media only screen and (max-width: 1180px){
    main{
        grid-template-columns: repeat(3, 1fr);
    }
    .recipes-border{
        width: 230px;
      }
    
      .picture{
        bottom: 150px;
        left: 33px;
      }
    
}

@media only screen and (max-width: 1150px){
    #plate{
        left: 550px;
        bottom: 120px;
        height: 90px;
      }
}

@media only screen and (max-width: 1060px){

    .recipes-border{
        width: 200px;
      }

      .picture {
        bottom: 150px;
        left: 15px;
    }
}

@media only screen and (max-width: 990px){
    #plate{
        left: 520px;
        bottom: 120px;
        height: 90px;
      }
}

@media only screen and (max-width: 960px){

    main{
        grid-template-columns: repeat(2, 1fr);
    }

    .recipes-border{
        width: 230px;
      }
    
      .picture{
        bottom: 150px;
        left: 33px;
      }

      #plate{
        left: 400px;
        bottom: 170px;
        height: 90px;
      }
}


@media only screen and (max-width: 850px){
    #plate{
        left: 370px;
        bottom: 180px;
        height: 70px;
      }
  }

@media only screen and (max-width: 800px){
    .recipes-border{
        width: 200px;
      }
    
      .picture{
        bottom: 150px;
        left: 15px;
      }
  }
  

@media only screen and (max-width: 770px) {
  #account-circle2{
    display: inline;
    height: 33px;
}

  body{
    grid-template-columns: 0px 1fr;
  }

  #name{
    display: none;

  }

  #account-circle{
    display: none;
  }

  .signup{
    display: none;
  }

  .picture-shadow2{
    display: none;
  }

  #plate{
    display: none;
  }

  main{
    grid-template-columns: repeat(3, 1fr);
  }

  #cooking{
    display: none;
  }

  #search{
    width: 200px;
    margin-left: 180px;

}

#name2{
    display: inline;
    position: absolute;
    bottom: 110px;
}

}

@media only screen and (max-width: 759px){
    #name2{
        bottom: 157px;
    }
}


@media only screen and (max-width: 740px){
    main{
        grid-template-columns: repeat(2, 1fr);
      }
    
      .recipes-border{
        width: 230px;
      }
    
      .picture{
        bottom: 150px;
        left: 33px;
      }
}


@media only screen and (max-width: 600px){
    .recipes-border{
        width: 200px;
      }
    
      .picture{
        bottom: 150px;
        left: 15px;
      }

      #search{
        display: none;
    
    }

    .top1{
        display: flex;

    }

    #magnify{
        display: none;
    }

    #magnify2{
        display: inline;
        height: 33px;
        width: 40px;
        transition-duration: 300ms;
    }

    #magnify2:hover{
        fill: white;
    }
    
}

@media only screen and (max-width: 530px){
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .recipes-border{
        width: 230px;
        
    }

    .picture{
        bottom: 150px;
        left: 33px;
      }

}

@media only screen and (max-width: 510px){
    .links{
        display: flex;
        flex-wrap: wrap;
    }
    
    .links a{
        margin-top: 10px;
        
    }
    
    #name2{
        bottom: 192px;
    }
}

@media only screen and (max-width: 490px){
    #name2{
        bottom: 246px;
    }
}

@media only screen and (max-width: 423px){
    #name2{
        bottom: 290px;
    }
}

@media only screen and (max-width: 390px){
    #menu{
        display: inline;
    }

    #menu:hover{
        fill: white;
    }

    #tune{
        display: none;
    }

    #filter{
        display: none;
    }

    #account-circle2{
        display: none;
    }

}
