@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Annie+Use+Your+Telescope&family=Artifika&family=Atomic+Age&family=Barrio&family=Belleza&family=Benne&family=Bruno+Ace+SC&family=Cormorant:wght@300&family=Crafty+Girls&family=EB+Garamond&family=Federo&family=Fresca&family=Genos:ital@1&family=Geo&family=Glass+Antiqua&family=IM+Fell+DW+Pica+SC&family=IM+Fell+French+Canon+SC&family=Indie+Flower&family=Irish+Grover&family=Kotta+One&family=Kufam&family=Lacquer&family=Macondo&family=Major+Mono+Display&family=Marck+Script&family=Megrim&family=Play&family=Playfair:opsz@5..1200&family=Sedgwick+Ave&family=Share&family=Space+Mono&family=Sulphur+Point&family=Trade+Winds&family=Ubuntu+Mono&family=VT323&family=Zilla+Slab+Highlight&display=swap');



body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 3fr;
    margin: 0;
}

header{
    background-color:#b7bba4;
    position: relative;
}

#top1{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#search{
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    background-color: #f8f4f4;
    box-shadow: 5px 5px 10px #808080;
}

#search:focus{
    border-color: #1a611a;
    outline: none;
}

#search-magnify{
    position: relative;
}

#magnify{
    position: absolute;
    height: 30px;
    width: 40px;
    right: 2px;
    top: 5px;

}

#name2{
    font-size: 30px;
    font-family: 'Marck Script', cursive;
    display: none;
}

#magnify2{
    display: none;
}

.icons svg, #icons2 svg{
    transition-duration: 300ms;
    cursor: pointer;
}

.icons svg:hover{
    fill: white;
    

}

#account-circle2{
    display: none;
}

#menu{
    display: none;
}

#plate{
    position: absolute;
    left: 850px;
    bottom: 35px;
    filter: brightness(95%) contrast(60%);
    
}

h1{
    margin-left: 30px;
    font-family: 'Space Mono', monospace;;
    text-decoration: underline;
}

.links{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.links a{
    text-decoration: none;
    color: rgb(50, 49, 49);
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid gray;
    padding: 12px 15px;
    border-radius: 40px;
    text-align: center;
    transition-duration: 250ms;
    box-shadow: 5px 5px 10px gray;
}

.links a:hover{
    background-color: rgb(208, 195, 120);
    color: white;
}

aside{
    background-color: white;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#account-circle2-1{
    display: none;
}

#filter2{
    display: none;
}

#tune2{
    display: none;
}

#name{
    margin-bottom: 20px;
    font-size: 2rem;
    font-family: 'Marck Script', cursive;
}

#account-circle{
    filter: drop-shadow(5px 5px 5px rgb(0 0 0 / 0.4));
}
  
#menu2{
    display: none;
   
}

.signup{
    margin-top: 40px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

.signup a{
    margin-bottom: 15px;
    margin-right: 0;
    width: 155px;
    text-decoration: none;
    color: rgb(50, 49, 49);
    border: 1px solid gray;
    padding: 12px 15px;
    border-radius: 40px;
    text-align: center;
    transition-duration: 250ms;
    box-shadow: 5px 5px 10px gray;

}

#login:hover{
    background-color: rgb(103, 191, 141);
    color: white;
}

#register:hover{
    background-color: rgb(207, 161, 97);
    color: white;
}

#cooking{
    margin-top: auto;
}

main{
    background-image: url(./Képek/wwwwwwwwwwww.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
}

#recipes-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.recipes-border{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    height: 280px;
    width: 220px;
    background-color: rgb(232, 235, 235);
    border-radius: 30px;
    margin: 50px 20px 30px 20px;
    box-shadow: 5px 5px 10px grey;
    
}

.picture {
    position: absolute;
    bottom: 150px;
    left: 25px;
    z-index: 2;
    filter: drop-shadow(8px 8px 5px rgb(0 0 0 / 0.4));
}

.recipe-name{
   text-align: center; 
    
    
}

.hr{
    
    width: 100%;
    height: 3px;
    background-color: rgb(149, 143, 143);
    border: none;
}

.recipes-bottom{
    display: flex;
    flex-direction: row; 
}

.time{
    margin-right: 50px;
    color: rgb(50, 49, 49);
}

.button{
    margin-top: 5px;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    color: #148a14;
    background-color: rgb(200, 233, 200);
    transition-duration: 250ms;
    border: none;
    box-shadow: 5px 5px 10px gray;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(91, 173, 126);
    color: white;
}

@media only screen and (max-width: 1410px){
    #plate{
        left: 760px;
      }
}

@media only screen and (max-width: 1300px){
    #plate{
        height: 130px;
      }
}

@media only screen and (max-width: 1270px){
    #plate{
        left: 480px;
        bottom: 145px;
        height: 80px;
      }
}

@media only screen and (max-width: 980px){
    body{
        grid-template-columns: 55px 1fr;
      }
   
    #name{
        display: none;
    
      }

      #account-circle{
        display: none;
      }

      .signup{
        display: none;
      }
    
      .picture-shadow2{
        display: none;
      }

      #cooking{
        display: none;
      }

      #account-circle2-1{
        display: block;
      }

      #icons2{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
      }


      #menu2{
        display: block;
        padding: 3px;
      }

      #menu2:hover{
        fill:white;
        background-color: black;
        border-radius: 50px;
      }


    #name2{
        display: inline;
        margin: 0;
        font-size: 3rem;
     
    }
    
    #plate{
        display: none;
    }

}

@media only screen and (max-width: 770px) {
    #search{
        width: 200px;
    }
  }

@media only screen and (max-width: 670px) {
    #search{
        display: none;
    
    }

    #magnify{
        display: none;
    }

    #magnify2{
        display: inline;
        height: 31px;
        width: 40px;
        transition-duration: 300ms;
    }

    #magnify2:hover{
        fill: white;
    }

  }

@media only screen and (max-width: 600px){
     body{
        grid-template-columns: 0px 1fr;
      }

      menu2{
        display: none;
        
      }

        #account-circle2{
          display: inline;
          height: 33px;
      }
      
}

@media only screen and (max-width: 390px){
    #menu{
        display: inline;
        transition-duration:300ms ;
    }

    #menu:hover{
        fill: white;
    }

    #tune{
        display: none;
    }

    #filter{
        display: none;
    }

    #account-circle2{
        display: none;
    }

}
